body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.root { 
    font-size: x-large; 
    color: whitesmoke; 
    background-color: rgb(57, 151, 57); 
    box-shadow: 0 2px 5px grey; 
    padding: 0% 5% 1% 5%; 
    text-align: center; 
    border-radius: 5px 0; 
    width: 90%;
    max-width: 500px;
    margin: 20px;
} 

.title { 
    border-bottom: 4px dashed; 
    border-color: white; 
} 

#scrambleWord {
    font-size: 36px;
    letter-spacing: 10px;
    margin: 15px 0;
}

#hint {
    font-size: 20px;
    margin-bottom: 20px;
}


input { 
    font-size: 20px; 
    padding-left: 10px; 
    outline: 2px grey; 
    border: 2px solid grey;
    border-radius: 4px;
    margin: 10px 0;
    outline: none;
} 

.foot { 
    margin-bottom: 0%; 
    display: flex; 
    width: 100%; 
} 

.foot>button { 
    width: 48%; 
    padding: 1%; 
    margin: 1%; 
    background-color: rgb(41, 117, 41); 
    border-radius: 5px; 
    border-color: rgb(29, 90, 29); 
    font-size: large; 
}

.foot > button:hover {
    background-color: rgb(33, 99, 33);
}

#output {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}